style.
  ul>li>a{
    padding: 10px 12px !important;
  }
.container
  .row
    .navbar.navbar-default(style="display:flex;justify-content:center;align-items:center;")
      ul.nav.nav-pills
        li.active(role="presentation"): a(href="#") 首页
        li(role="presentation"): a(href="#") 家寻宝贝
        li(role="presentation"): a(href="#") 宝贝寻家
        li(role="presentation"): a(href="#") 流浪乞讨