extends layout
block content
  .container
    .row
      each item in homeToBaby
        .media
          .media-left
            a(href="#")
              img.media-boject(src="...",alt="...")
          .media-body
            h4.media-heading #{item.name}
            |#{item.sex}
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧
  div 啊
  div 看吧



